@media all and (min-width: 600px) {
    body{
        background-color: blanchedalmond;
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 160px 50px 50px 50px 50px 50px;
        grid-column-gap: 50px;
        margin: 0;
    }
    .img{
        align-self: start;
        width: 400px;
    }
    a {text-decoration: none;color: white}

    ul {
        margin: 0;
        padding:0px;
        grid-column: 1/5;
        display: flex;
        list-style: none;
    }
    li {
        grid-column: 1/5;
        flex: 100%;
        text-align: center;
        background-color: grey;
    }
    .nav{display: none; visibility: hidden}
    .mobileNav{
        background-color: gray;
        grid-row:2;
        grid-column: span 30;
    }
    .mobileNav2{
        background-color: gray;
        grid-row:3;
        grid-column: span 30;
    }
    .mobileNav3{
        background-color: gray;
        grid-row:4;
        grid-column: span 30;
    }
    .mobileNav4{
        background-color: gray;
        grid-row:5;
        grid-column: span 30;
    }
    .mobileNav5{
        background-color: gray;
        grid-row:6;
        grid-column: span 30;
    }



    .top-bar{grid-column: 1/50; background-color: #66ffff; grid-row: 1}

    .bar1 {grid-column: 1}

    .bar2 {grid-column: 1}

    .bar3{grid-column: 1}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 800px) {
    body{
        background-color: blanchedalmond;
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 160px 50px;
        grid-template-columns: 200px 400px;
        grid-column-gap: 10px;
        margin: 0;
    }
    .img{
        align-self: start;
        width: 400px;
    }
    a {text-decoration: none;color: white}


    .li {
        grid-column: span 100;
        flex: 100%;
        text-align: center;
        background-color: grey;
    }
    .ul {
        margin: 0;
        padding:0px;
        grid-column: 1/20;
        display: flex;
        justify-content: space-around;
        list-style: none;
    }
    .nav{display: flex; visibility: visible}
    .mobileNav{display: none; visibility: hidden}
    .mobileNav2{display: none; visibility: hidden}
    .mobileNav3{display: none; visibility: hidden}
    .mobileNav4{display: none; visibility: hidden}
    .mobileNav5{display: none; visibility: hidden}
    .coolstuff{display: none}

    .top-bar{grid-column: 1/20; background-color: #66ffff;}

    .bar1 {grid-column: 1}

    .bar2 {grid-column: 2}

    .bar3{grid-column: 2}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    img{width: 160px; height: 160px}

    body{
        background-color: blanchedalmond;
        display: grid;
        grid-template-columns: 500px 400px;
        grid-template-rows: 160px 50px;
        grid-column-gap: 50px;
        padding: 0;
        margin: 0;
    }

    a {text-decoration: none;color: white}

    .ul {
        margin: 0;
        padding:0px;
        grid-column: span 10;
        display: flex;
        list-style: none;
    }
    .li {
        flex: 100%;
        text-align: left;
        background-color: grey;
    }
    .nav{visibility: visible}
    .mobileNav{display: none; visibility: hidden}
    .mobileNav2{display: none; visibility: hidden}
    .mobileNav3{display: none; visibility: hidden}
    .mobileNav4{display: none; visibility: hidden}
    .mobileNav5{display: none; visibility: hidden}
    .top-bar{grid-column: 1/20; background-color: #66ffff;}

    .bar1 {grid-column: 1;}

    .bar2 {grid-column: 2;}

    .bar3{grid-column: 3;}
}
